<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) %cyan(%logger{18}) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com" level="WARN"/>
    <logger name="io" level="WARN"/>
    <logger name="org" level="WARN"/>
    <logger name="org.spring" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="demo" level="DEBUG"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
